/*********************
BREAKPOINTS
*********************/
/*********************
Font Resize
*********************/
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700,800");
.light {
  color: #a15555; }
  .light h1, .light h2, .light h3, .light p {
    color: #a15555; }

.dark {
  color: #a15555; }

.text-center {
  text-align: center; }

h1, h2, h3, h4, h5, h6, p, div {
  font-family: "Nunito", sans-serif; }

h2 {
  margin: 0 0 15px 0; }
  h2 {
    font-size: 20px; }
    @media screen and (min-width: 320px) {
      h2 {
        font-size: calc(20px + 35 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      h2 {
        font-size: 55px; } }

h3 {
  margin: 0 0 15px 0; }
  h3 {
    font-size: 18px; }
    @media screen and (min-width: 320px) {
      h3 {
        font-size: calc(18px + 8 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      h3 {
        font-size: 26px; } }

p {
  margin: 0 0 15px 0; }
  p {
    font-size: 14px; }
    @media screen and (min-width: 320px) {
      p {
        font-size: calc(14px + 4 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      p {
        font-size: 18px; } }

.top-nav {
  /* CSS declarations for `.block` */ }
  @media (max-width: 37.5em) {
    .top-nav {
      display: none; } }
  @media (min-width: 37.5em) {
    .top-nav {
      display: none; } }
  @media (min-width: 50em) {
    .top-nav {
      display: block; } }
  @media (min-width: 64em) {
    .top-nav {
      display: block; } }
  @media (min-width: 70em) {
    .top-nav {
      display: block; } }
  .top-nav__item {
    /* CSS declarations for `.block__element` */
    display: inline-block;
    padding: 4px; }
    .top-nav__item:nth-child(1):hover ~ .top-nav__item__hr {
      margin-left: 0%;
      opacity: 1; }
    .top-nav__item:nth-child(2):hover ~ .top-nav__item__hr {
      margin-left: 25%;
      opacity: 1; }
    .top-nav__item:nth-child(3):hover ~ .top-nav__item__hr {
      margin-left: 50%;
      opacity: 1; }
    .top-nav__item:nth-child(4):hover ~ .top-nav__item__hr {
      margin-left: 75%;
      opacity: 1; }
    .top-nav__item__link {
      text-align: center;
      min-width: 80px;
      color: pink;
      font-family: "Nunito", sans-serif;
      display: block;
      padding: 5px;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
      transition: all 0.3s ease; }
    .top-nav__item__hr {
      height: .25rem;
      width: 25%;
      margin: 0;
      background: pink;
      border: none;
      transition: .3s ease-in-out;
      opacity: 0; }

.hamburger {
  background-color: transparent;
  position: relative;
  owerflow: hidden;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer; }
  @media (max-width: 37.5em) {
    .hamburger {
      display: block; } }
  @media (min-width: 37.5em) {
    .hamburger {
      display: block; } }
  @media (min-width: 50em) {
    .hamburger {
      display: none; } }
  @media (min-width: 64em) {
    .hamburger {
      display: none; } }
  @media (min-width: 70em) {
    .hamburger {
      display: none; } }
  .hamburger:focus {
    outline: none;
    background-color: transparent; }
  .hamburger span {
    display: block;
    position: absolute;
    left: 5px;
    right: 5px;
    top: 22px;
    height: 5px;
    background: #FA9999;
    border-radius: 3px; }
    .hamburger span:before, .hamburger span:after {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 5px;
      background: #FA9999;
      content: "";
      border-radius: 3px; }
    .hamburger span:before {
      top: -15px; }
    .hamburger span:after {
      bottom: -15px; }

.hamburger__ani span:before, .hamburger__ani span:after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s; }

.hamburger__ani span:before {
  transition-property: top, transform; }

.hamburger__ani span:after {
  transition-property: bottom, transform; }

.hamburger__ani.is-active {
  background-color: #FFFFFF; }
  .hamburger__ani.is-active span {
    background: none; }
    .hamburger__ani.is-active span:before, .hamburger__ani.is-active span:after {
      transition-delay: 0s, 0.3s; }
    .hamburger__ani.is-active span:before {
      top: 0;
      transform: rotate(45deg); }
    .hamburger__ani.is-active span:after {
      bottom: 0;
      transform: rotate(-45deg); }

*, html {
  box-sizing: border-box; }

html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  overflow: hidden; }

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 80%;
  z-index: 20; }

.top-header {
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .top-header .juiceme {
    box-sizing: border-box;
    flex: 0 1 auto; }
  .top-header .top-nav, .top-header .burger-nav {
    box-sizing: border-box;
    flex: 0 1 auto; }

.juiceme__logo {
  /* CSS declarations for `.block__element` */
  color: pink;
  text-transform: uppercase;
  margin: 0 0 15px 0;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  text-decoration: none; }
  .juiceme__logo {
    font-size: 35px; }
    @media screen and (min-width: 320px) {
      .juiceme__logo {
        font-size: calc(35px + 5 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      .juiceme__logo {
        font-size: 40px; } }

html, body {
  height: 100%; }

body {
  overflow: hidden; }

.wav-holder {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #FA9999;
  -webkit-transition: height 0.8s;
  -moz-transition: height 0.8s;
  transition: height 0.8s; }

[data-wave="open"] {
  height: 65%; }

@media (max-width: 37.5em) {
  [data-wave="closed"] {
    height: 0%; } }

@media (min-width: 37.5em) {
  [data-wave="closed"] {
    height: 0%; } }

@media (min-width: 50em) {
  [data-wave="closed"] {
    height: 1%; } }

@media (min-width: 64em) {
  [data-wave="closed"] {
    height: 5%; } }

@media (min-width: 70em) {
  [data-wave="closed"] {
    height: 5%; } }

.wave {
  background: url(/img/wave-1.svg);
  background-repeat: repeat-x;
  background-position: top;
  position: absolute;
  background-size: 100%;
  top: -75px;
  width: 100%;
  height: 200px;
  z-index: 2;
  opacity: 1;
  animation: moveUp 2s ease -1s infinite; }

.wave:nth-of-type(2) {
  background: url(/img/wave-2.svg);
  animation: moveUp 2s ease -0.8s infinite;
  opacity: 0.5;
  z-index: 2;
  background-size: 100%; }

.wave:nth-of-type(3) {
  background: url(/img/wave-3.svg);
  animation: moveUp 2s ease -0.6s infinite;
  opacity: 0.3;
  z-index: 3;
  background-size: 100%; }

@keyframes wave {
  0% {
    margin-top: 0px; }
  50% {
    margin-top: -20px; }
  100% {
    margin-top: 0px; } }

@keyframes moveUp {
  0%, 100% {
    transform: translate3d(0, -20px, 0); }
  50% {
    transform: translate3d(0, 0px, 0); } }

.btn {
  border-radius: 40px;
  padding: 15px 30px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  margin: 0 0 15px 0;
  outline: none;
  margin-top: 20px; }
  .btn {
    font-size: 16px; }
    @media screen and (min-width: 320px) {
      .btn {
        font-size: calc(16px + 9 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      .btn {
        font-size: 25px; } }
  .btn--fill {
    background-color: #FA9999;
    border: 3px solid transparent;
    color: #FFFFFF; }
  .btn--outline {
    background-color: transparent;
    border: 3px solid #FFFFFF;
    color: #FFFFFF; }

.visually-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px; }

.qrcode {
  margin-bottom: 25px;
  fill: #a15555;
  vertical-align: middle; }
  @media (max-width: 37.5em) {
    .qrcode {
      width: 100px;
      height: 100px; } }
  @media (min-width: 37.5em) {
    .qrcode {
      width: 133.33333px;
      height: 133.33333px; } }
  @media (min-width: 50em) {
    .qrcode {
      width: 153.84615px;
      height: 153.84615px; } }
  @media (min-width: 64em) {
    .qrcode {
      width: 166.66667px;
      height: 166.66667px; } }
  @media (min-width: 70em) {
    .qrcode {
      width: 200px;
      height: 200px; } }

/* Fallbacks! */
html.no-svg .svg-holder > * {
  display: none;
  /* just in case */ }

html.no-svg .qrcode {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-right: 0.25em;
  background-size: cover !important;
  vertical-align: middle;
  background: url(../img/qrcode-fallback.png) no-repeat; }
