
html, body { height: 100%; }
body {
  overflow: hidden;
}



.wav-holder {

  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #FA9999;

  height: 5%;

  /* Set our transitions up. */
  -webkit-transition:height 0.8s;
  -moz-transition: height 0.8s;
  transition: height 0.8s;
}

[data-wave="open"]{

  height: 65%;
}


[data-wave="closed"] {

  height:  5%;
}

$waveCurveTop: -75px;
$waveCurveShiftA: -140px;
$waveSpeed: 2s ;

.wave {
  background: url(/img/wave.svg);
  background-repeat: repeat-x;
  background-size: 460px;
  background-position: top;
  position: absolute;
  top: $waveCurveTop;
  width: 100%;
  height: 200px;
  z-index: 2;
  opacity: 1;
  animation: moveUp $waveSpeed ease -1s infinite;

}

.wave:nth-of-type(2) {
  top: $waveCurveTop + 5;
  left: $waveCurveShiftA;
  width: 108%;
  //animation: wave 3s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  animation: moveUp $waveSpeed ease -0.8s infinite;
  opacity: 0.5;
  z-index: 2;
}

.wave:nth-of-type(3) {
  top: $waveCurveTop + 5;
  left: $waveCurveShiftA - 120;
  width: 115%;
  //animation: wave 3s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  animation: moveUp $waveSpeed ease -0.6s infinite;
  opacity: 0.3;
  z-index: 3;
}



$waveTop: -20px;
$waveBot: 0px;

@keyframes wave {
  0% {
    margin-top: $waveBot;
  }

  50% {
    margin-top: $waveTop;
  }

  100% {
    margin-top: $waveBot;
  }
}


@keyframes moveUp {
  0%, 100% {
    transform: translate3d(0, -20px, 0);
  }
  50% {
    transform: translate3d(0, 0px, 0);
  }
}



