
html, body { height: 100%; }
body {
  overflow: hidden;
}




.wav-holder {
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #FA9999;


  -webkit-transition:height 0.8s;
  -moz-transition: height 0.8s;
  transition: height 0.8s;
}

[data-wave="open"]{
  height: 65%;
}
[data-wave="closed"] {
  @include breakpoint(mobileonly   ) {
    height: 0%;
  }
  @include breakpoint(phablet  ) {
    height: 0%;
  }
  @include breakpoint(tablet ) {
    height: 1%;
  }
  @include breakpoint(laptop) {
    height: 5%;
  }
  @include breakpoint(desktop) {
    height: 5%;
  }
}

$waveCurveTop: -75px;
$waveSpeed: 2s ;


.wave {
  background: url(/img/wave-1.svg);
  background-repeat: repeat-x;
  background-position: top;
  position: absolute;
  background-size: 100%;
  top: $waveCurveTop;
  width: 100%;
  height: 200px;
  z-index: 2;
  opacity: 1;
  animation: moveUp $waveSpeed ease -1s infinite;

}

.wave:nth-of-type(2) {
  background: url(/img/wave-2.svg);
  animation: moveUp $waveSpeed ease -0.8s infinite;
  opacity: 0.5;
  z-index: 2;
  background-size: 100%;
}

.wave:nth-of-type(3) {
  background: url(/img/wave-3.svg);
  animation: moveUp $waveSpeed ease -0.6s infinite;
  opacity: 0.3;
  z-index: 3;
  background-size: 100%;

}


$waveTop: -20px;
$waveBot: 0px;

@keyframes wave {
  0% {
    margin-top: $waveBot;
  }

  50% {
    margin-top: $waveTop;
  }

  100% {
    margin-top: $waveBot;
  }
}
@keyframes moveUp {
  0%, 100% {
    transform: translate3d(0, -20px, 0);
  }
  50% {
    transform: translate3d(0, 0px, 0);
  }
}



